#outerContainer {
    background-color: rgb(221, 221, 221);
    height: 50%;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

h3 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 15%;
}

div label {
    margin-bottom: 7%;
}

form div {
    margin-bottom: 7%;
}

#correctData {
    background-color: rgb(16, 109, 16);
    border-radius: 10px;
}

#incorrectData {
    background-color: rgb(165, 11, 11);
    border-radius: 10px;
    width: 60%;
}

form div p {
  font-size: 12;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-top: 7%;
}